<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              category="org.knime.workbench.ui.preferences"
              class="org.knime.knip.patents.prefs.OPSPreferencePage"
              id="org.knime.knip.patents.prefs.OPSPreferencePage"
              name="Open Patent Services Plugin">
        </page>
     </extension>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer
              class="org.knime.knip.patents.prefs.OPSPreferenceInitializer">
        </initializer>
     </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Open Patent Services"
            icon="icons/logo.png"
            level-id="patents"
            name="OPS"
            path="/community/knip/">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodesets">
      <nodeset
            default-category-icon="icons/logo.png"
            expert-flag="false"
            factory-class="org.knime.knip.patents.features.FeaturesNodeSetFactory"
            id="org.knime.knip.patents.features.FeaturesNodeSetFactory">
      </nodeset>
      <nodeset
            default-category-icon="icons/logo.png"
            expert-flag="false"
            factory-class="org.knime.knip.patents.util.PatentNodeSetFactory"
            id="org.knime.knip.patents.util.PatentNodeSetFactory">
      </nodeset>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            expert-flag="false"
            factory-class="org.knime.knip.patents.features.meta.fishervectors.FisherVectorsNodeFactory"
            id="org.knime.knip.patents.features.meta.fishervectors.FisherVectorsNodeFactory">
      </node>
   </extension>
</plugin>
