<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.knime.workbench.repository.nodesets">
      <nodeset
            expert-flag="false"
            factory-class="org.knime.knip.patents.features.FeaturesNodeSetFactory"
            id="org.knime.knip.patents.features.FeaturesNodeSetFactory">
      </nodeset>
   </extension>
</plugin>
